# Database & Local Secrets
.env
*.local
mobile_app/.env

# Java / Maven
backend_api/target/
backend_api/.mvn/
backend_api/*.jar
backend_api/*.war
backend_api/.mvn/wrapper/maven-wrapper.jar

# Flutter / Dart
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.packages
mobile_app/.pub-cache/
mobile_app/.pub/

# IDE Settings
.idea/
*.iml
*.iws
.vscode/# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
